<h1>All Ferrets</h1>
<%= link_to "New ferret", "/ferrets/new" %>

<% @ferrets.order(created_at: :desc).each do |ferret| %>
  <h4><%= ferret.name %></h4>
  <%= link_to "Edit #{ferret.name}", "ferrets/#{ferret.id}/edit" %>
  <%= link_to "Delete #{ferret.name}", "ferrets/#{ferret.id}", method: :delete %><br></br>
  Created at: <%= ferret.created_at.strftime("%d/%m/%Y %H:%M") %>
<% end %>
