<h1><%= @ferret.name %></h1>
<p><%= link_to "Update #{@ferret.name}", "/ferrets/#{@ferret.id}/edit" %></p>

<p>Is hungry?: <%= @ferret.hungry %></p>
<p>Snacks eaten: <%= @ferret.snack_count %></p>
<p>Different snack types owned: <%= @ferret.snacks_num %>
<p><%= link_to "#{@ferret.name}'s snacks", "/ferrets/#{@ferret.id}/snacks" %></p>

<p><%= link_to "Delete #{@ferret.name}", "/ferrets/#{@ferret.id}", method: :delete %></p>
